@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin: 60px 0;
}

.content {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

.content > .info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content > .info-container > .box {
  padding: 2px;
  width: 250px;
  margin: 20px;
}


.content > .image-container > img {
  border: 3px solid #90ac8e;
  width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .content > .info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .content > .info-container > .box {
    padding: 2px;
    width: 80px;
    margin: 20px;
  }

  .content > .image-container > img {
    border: 3px solid #90ac8e;
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
  }
}
